<!DOCTYPE html>
<html lang="en">
<% var matSoru; %>
<% var matSoruData=[]; %>
<% sorular.user_test.forEach(function (value) {if (value.test_catid === "2")   matSoru = value}) %>
<% sorular.user_test.forEach(function (value) {value._id=undefined; matSoruData.push(value)}) %>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matematik Testi</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="icon" href="mat_images/rainbow.png">
    <script src="/javascripts/mat_test.js" type="text/javascript"></script>
    <script src="/javascripts/sender_script.js" type="text/javascript"></script>
    <script>
        function f() {
            sendPuan(<%- JSON.stringify(sorular)%>)
        }
        countDownTimer('<%= matSoru.test_baslangic %>', '<%= matSoru.test_bitis %>', "/mattest", '<%= matSoru._id %>', '<%= matSoru.is_test_done %>', "mat");
    </script>

</head>

<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="container">
        <a href="index" class="navbar-brand">Anasayfa</a>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                Matematik
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="mat1">1. Ünite - Doğal Sayılar</a></li>
                <li><a class="dropdown-item" href="mat2">2. Ünite - Toplama ve Çıkarma İşlemleri</a></li>
                <li><a class="dropdown-item" href="mat3">3. Ünite - Çarpma ve Bölme İşlemleri</a></li>
                <li><a class="dropdown-item" href="mattest">Matematik Sınavı</a></li>
            </ul>
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                Fen Bilimleri
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="fen1">1. Ünite - Yer Kabuğu ve Dünyamızın Hareketleri</a></li>
                <li><a class="dropdown-item" href="fen2">2. Ünite - Besinlerimiz, Canlılar ve Yaşam</a></li>
                <li><a class="dropdown-item" href="fen3">3. Ünite - Kuvvetin Etkileri ve Fiziksel Olaylar</a></li>
                <li><a class="dropdown-item" href="fentest">Fen Bilimleri Sınavı</a></li>
            </ul>
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                English
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="eng1">Unit-1 Classroom Rules</a></li>
                <li><a class="dropdown-item" href="eng2">Unit-2 Nationality</a></li>
                <li><a class="dropdown-item" href="eng3">Unit-3 Cartoon Characters</a></li>
                <li><a class="dropdown-item" href="engtest">English Exam</a></li>
            </ul>
        </div>
        <div>
            <button type="button" class="btn btn-warning">Kayıt Ol</button>
            <button type="button" class="btn btn-success">Giriş Yap</button>
        </div>
    </div>
</nav>
<h1 class="center">Matematik Sınavı</h1>
<div class="child" onclick="sendAnswersEng()">
    <p id="soru1"><b>Soru 1: </b>15 + <b>B</b> > 40 ifadesindeki <b>B</b> yerine gelebilecek en küçük doğal sayı
        kaçtır?</p>
    <select class="form-control" style="width:auto;" name="question1" id="question1" onclick=""
            onchange="bgChanger('q1')">
        <option hidden disabled selected value> -- bir şıkkı seçiniz --</option>
        <option <%- matSoru.test_answers.soru1 === '25' ? 'selected' : '' %> value="25">25</option>
        <option <%- matSoru.test_answers.soru1 === '26' ? 'selected' : '' %> value="26">26</option>
        <option <%- matSoru.test_answers.soru1 === '27' ? 'selected' : '' %> value="27">27</option>
        <option <%- matSoru.test_answers.soru1 === '28' ? 'selected' : '' %> value="28">28</option>
    </select>

    <p id="soru2"><b>Soru 2: </b>"43732" sayısındaki "3" rakamının basamak değerleri toplamı kaçtır?</p>
    <select class="form-control" style="width:auto;" name="guestion2" id="question2" onclick=""
            onchange="bgChanger('q2')">
        <option hidden disabled selected value> -- bir şıkkı seçiniz --</option>
        <option <%- matSoru.test_answers.soru2 === '1003' ? 'selected' : '' %> value="1003">1003</option>
        <option <%- matSoru.test_answers.soru2 === '6' ? 'selected' : '' %> value="6">6</option>
        <option <%- matSoru.test_answers.soru2 === '3030' ? 'selected' : '' %> value="3030">3030</option>
        <option <%- matSoru.test_answers.soru2 === '1030' ? 'selected' : '' %> value="1030">1030</option>
    </select>
    <p id="soru3"><b>Soru 3: </b>En küçüğü <b>20</b> olan <b>ardışık üç doğal sayının</b> toplamı kaçtır?</p>
    <input type="number" value='<%= matSoru.test_answers.soru3 %>' name="guestion3" id="question3"
           onchange="bgChanger('q3')">
    <p id="soru4"><b>Soru 4: </b>Aşağıdaki tablodaki rakamları birer kez kullanılarak, okunuşları verilen sayılardan
        <b>kaç tanesi oluşturulabilir <%= matSoru.test_answers.soru1 %></b>?
    </p>
    <table class="table table-success table-striped" style="width:auto;">
        <tr>
            <th><b>Rakamlar</b></th>
            <td>7</td>
            <td>3</td>
            <td>0</td>
            <td>6</td>
            <td>4</td>
            <td>1</td>
        </tr>
    </table>
    <ol type="I">
        <li>Üç yüz altı bir dört yüz on bir</li>
        <li>Altı yüz dört bin üç yüz yetmiş bir</li>
        <li>Üç yüz dört bin yedi yüz on altı</li>
        <li>Üç yüz dört bin yedi yüz altı</li>
    </ol>
    <select class="form-control" value='<%= matSoru.test_answers.soru4 %>' style="width:auto;"
            name="question4" id="question4" onchange="bgChanger('q4')">
        <option hidden disabled selected value> -- bir şıkkı seçiniz --</option>
        <option <%- matSoru.test_answers.soru4 === '1' ? 'selected' : '' %> value="1">1</option>
        <option <%- matSoru.test_answers.soru4 === '2' ? 'selected' : '' %> value="2">2</option>
        <option <%- matSoru.test_answers.soru4 === '3' ? 'selected' : '' %> value="3">3</option>
        <option <%- matSoru.test_answers.soru4 === '4' ? 'selected' : '' %> value="4">4</option>
    </select>
    <p id="soru5"><b>Soru 5: </b>Aşağıdaki örüntüde "?" olan yere hangi sayı gelmelidir?</p>
    <table class="table table-success table-striped" style="width:auto;">
        <tr>
            <td>5</td>
            <td>8</td>
            <td>10</td>
            <td>11</td>
            <td>14</td>
            <td>16</td>
            <td>......</td>
            <td>...?...</td>
        </tr>
    </table>
    <select class="form-control" value='<%= matSoru.test_answers.soru5 %>' style="width:auto;"
            name="question5" id="question5" onchange="bgChanger('q5')">
        <option hidden disabled selected value> -- bir şıkkı seçiniz --</option>
        <option value="17" <%- matSoru.test_answers.soru5 === '17' ? 'selected' : '' %>>17</option>
        <option value="19" <%- matSoru.test_answers.soru5 === '19' ? 'selected' : '' %>>19</option>
        <option value="20" <%- matSoru.test_answers.soru5 === '20' ? 'selected' : '' %>>20</option>
        <option value="21" <%- matSoru.test_answers.soru5 === '21' ? 'selected' : '' %>>21</option>
    </select>
    <p id="soru6"><b>Soru 6: </b>Aşağıda verilen ifadeye göre "a" yerine <b>yazılabilecek rakamların</b> toplamı
        kaçtır?</p>
    <p class="center"><b>45a8 > 4548</b></p>
    <select class="form-control" value='<%= matSoru.test_answers.soru6 %>' style="width:auto;"
            name="question6" id="question6" onchange="bgChanger('q6')">
        <option hidden disabled selected value> -- bir şıkkı seçiniz --</option>
        <option value="21" <%- matSoru.test_answers.soru6 === '21' ? 'selected' : '' %>>21</option>
        <option value="14" <%- matSoru.test_answers.soru6 === '14' ? 'selected' : '' %>>14</option>
        <option value="35" <%- matSoru.test_answers.soru6 === '35' ? 'selected' : '' %>>35</option>
        <option value="30" <%- matSoru.test_answers.soru6 === '30' ? 'selected' : '' %>>30</option>
    </select>
    <p id="soru7"><b>Soru 7: </b>Aşağıdaki çarpma işlemine göre <b>M x N</b> işleminin sonucu kaçtır?</p>
    <p class="center">13 x M = 65 <br> 9 x N = 108</p>
    <input type="number" value='<%= matSoru.test_answers.soru7 %>' id="question7"
           onchange="bgChanger('q7')">
    <p id="soru8"><b>Soru 8: </b>Bir bölme işleminde <b>bölünen 367</b>, <b>bölüm 91</b>, ve <b>kalan 3</b> olduğuna
        göre <b>bölen sayı </b>kaçtır?</p>
    <input type="number" value='<%= matSoru.test_answers.soru8 %>' id="question8"
           onchange="bgChanger('q8')">
    <p id="soru9"><b>Soru 9: </b>Bir çıkarma işleminde eksilen, çıkan ve farkın toplamı 158 olduğuna göre <b>eksilen
            sayı</b> kaçtır?</p>
    <select class="form-control" value='<%= matSoru.test_answers.soru9 %>' style="width:auto;"
            name="question9" id="question9" onchange="bgChanger('q9')">
        <option hidden disabled value> -- bir şıkkı seçiniz --</option>
        <option value="68" <%- matSoru.test_answers.soru9 === '68' ? 'selected' : '' %>>68</option>
        <option value="69" <%- matSoru.test_answers.soru9 === '69' ? 'selected' : '' %>>69</option>
        <option value="78" <%- matSoru.test_answers.soru9 === '78' ? 'selected' : '' %>>78</option>
        <option value="79" <%- matSoru.test_answers.soru9 === '79' ? 'selected' : '' %>>79</option>
    </select>
    <p id="soru10"><b>Soru 10: </b>"8 yüz binlik + 7 on binlik + 3 yüzlük + 5 birlik" şeklinde çözümlenmiş sayı
        hangisidir?</p>
    <select class="form-control" value='<%= matSoru.test_answers.soru10 %>' style="width:auto;"
            name="question10" id="question10" onchange="bgChanger('q10')">
        <option hidden disabled value> -- bir şıkkı seçiniz --</option>
        <option value="870305" <%- matSoru.test_answers.soru10 === '870305' ? 'selected' : '' %> >870305
        </option>
        <option value="870350" <%- matSoru.test_answers.soru10 === '870350' ? 'selected' : '' %>>870350
        </option>
        <option value="807305" <%- matSoru.test_answers.soru10 === '807305' ? 'selected' : '' %>>807305
        </option>
        <option value="807350" <%- matSoru.test_answers.soru10 === '807350' ? 'selected' : '' %>>807350
        </option>
    </select>
</div>
<div class="sidebar">
    <ul class="verticalCenter">
        <p id="timer"></p>
        <li id="q1"><a href="#soru1">Soru 1 </a></li>
        <li id="q2"><a href="#soru2">Soru 2</a></li>
        <li id="q3"><a href="#soru3">Soru 3</a></li>
        <li id="q4"><a href="#soru4">Soru 4</a></li>
        <li id="q5"><a href="#soru5">Soru 5</a></li>
        <li id="q6"><a href="#soru6">Soru 6</a></li>
        <li id="q7"><a href="#soru7">Soru 7</a></li>
        <li id="q8"><a href="#soru8">Soru 8</a></li>
        <li id="q9"><a href="#soru9">Soru 9</a></li>
        <li id="q10"><a href="#soru10">Soru 10</a></li>
    </ul>
</div>
<div class="parent">
    <a href="#" class="btn btn-dark"
       role="button" <%= parseInt(matSoru.test_baslangic) - parseInt(matSoru.test_bitis) > 0 ? 'hidden' : '' %>
       onclick="uyari('<%= matSoru.test_baslangic %>','<%= matSoru.test_bitis %>','/mattest','<%= matSoru._id %>','mat')">Sınavı
        Bitir</a>
    <a href="#" class="btn btn-dark"
       role="button" <%= parseInt(matSoru.test_baslangic) - parseInt(matSoru.test_bitis) < 0 ? 'hidden' : '' %>
       onclick="f()"> Puan Tablosu</a>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>

</html>